 {% extends 'curd_app/nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
<link rel="stylesheet" href="{% static 'curd_app/css/style.css' %}">
</head>
<body>

{% block title %}Student List{% endblock %}
{% block content %}
  <h2 class="heading-main">Student List</h2>
  <a href="{% url 'student_create' %}" class="btn btn-gradient">Add Student</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th><th>Name</th><th>Email</th><th>Age</th><th>Address</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in students %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.age }}</td>
        <td>{{ i.address }}</td>
        <td>
          <a href="{% url 'student_update' i.id %}" class="btn btn-success btn-sm  btn-action">Edit</a>
          <a href="{% url 'student_delete' i.id %}" class="btn btn-danger btn-sm btn-action">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
  </div>
</body>
</html>